body{
  background-color: #A8A7A7;
}
.container{
  background-color: gray;
  color: white;
  padding: 4em;
}
.container .col-lg-12{
  font-size: 1em;
  font-famly: Helvetica;
  opacity: .8;
}
.container .col-lg-12 img{
}

.container .col-lg-12 li{
  list-style-type: square;
}

.container .col-lg-12 a{

  font-size: 1.5em;
}
