body{
  background-color: gray;
}


.container-fluid{
  display: table
  background-color: gray;
  color: white;
  padding: 2em;
  vertical-align: center;

}

.container-fluid .row-fluid .col-lg-8{
  font-size: 1em;
}

h1{

}

h3{

}
